body
{
	background-image: url("img/ripples.png");
	font-family: 'Nunito', sans-serif;
	color: #000000;;
	font-size: 17px;
	margin: 0;
}

main
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

h1.logo
{
	font-size: 44px;
	font-weight: 100;
	text-align: left;
	font-family: 'Josefin Sans', sans-serif;
	color: #404040;
	height: 45px;
	margin-top: 20px;
	width: 45%;
	margin-bottom: 50px;
	
}

.logo-icon
{
	width: 80px;
	height: 80px;
	float: left;
	margin-top: 20px;
	margin-left: 100px;
}

.adv
{
	margin-top: 35px;
	margin-left: 150px;
	width: 300px;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #0a0959;
}

.subtitle
{
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #0a0959;
}

footer
{
	text-align: center;
}

a.mButton
{
	text-decoration: none;
	color: #404040;
	font-family: 'Josefin Sans', sans-serif;
}

header
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center
}


nav
{
	width: 100%;
	padding: 10px 0px;
	background-color: rgba(75, 147, 171, 0.7);
	text-align: center;
}

ol
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 20px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #383733;
	text-decoration: none;
	display: block;
	
}

ol > li
{
	float: left;
	width: 220px;
	height: 40px;
}

ol > li:hover
{
	border-radius: 5px;
	box-shadow: 0px 0px 11px 2px #ffffff;
	border: none;
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
	font-size: 17px;
}

ol > li >ul > li > a
{
	color: #000000;
}

ol > li:hover > ul
{
	display: block;
}

ol > li > ul > li
{
	background-color: rgba(43, 104, 173, 1); 
	position: relative;
	z-index: 100;
}

ol > li > ul > li:hover
{
	border-radius: 6px;
	background-color: #171ea6;
	box-shadow: 0px 0px 5px 3px #636bff;
}

main
{
	width: 100%;
	margin: 0;
	text-align: center;
	margin-top: 10px;
	background-color: rgba(102,106,117, 0.2);

}






input[type=number]
{
	width: 327px;
	background-color: #efefef;
	color: #666;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 17px;
	padding: 6.5px;
	box-sizing: border-box;
	outline: none;
	margin-top: 30px;
}

.payment
{
	width: 327px;
	background-color: #efefef;
	color: #666;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 16px;
	padding: 7px;
	box-sizing: border-box;
	outline: none;
	margin-top: 30px;
}

input[type=date]
{
	width: 349px;
	background-color: #efefef;
	color: #666;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 17px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	margin-top: 30px;
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 1px solid #4f5357;
	background-color: #e9f3e9;
	color: #428c42;
}

button[type=submit]
{
	width: 120px;
	padding: 10px 5px;;
	background-color: #d1640a;
	font-size:17px;
	color: black;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

button[type=submit]:hover
{
	opacity: 0.91;
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}

form
{
	float: left;
	background-color: white;
	width: 400px;
	padding: 30px;
	padding-top: 10px;
	margin-top: 20px;
	margin-left: 450px;
	-webkit-box-shadow: 1px 1px 5px 2px rgba(134, 132, 156,0.9);
	-moz-box-shadow: 1px 1px 5px 2px rgba(134, 132, 156,0.9);
	box-shadow: 1px 1px 5px 2px rgba(134, 132, 156,0.9);
	text-align: center;
	border-radius: 6px;
	border: 1px solid #000000;
	margin-bottom: 20px;
}

.descriptionLabel
{
	font-size: 15px;;
    border: 1px solid #cccccc;
    border-radius: 3px;
	margin-top: 30px;
	padding: 6.5px;
	background-color: rgba(93, 114, 148, 0.35);

}

.comment
{
	resize: none;
	margin-top: 30px;
}

.descriptionLabelComment
{
	font-size: 15px;;
    border: 1px solid #cccccc;
    border-radius: 3px;
	margin-top: 30px;
	padding: 12px 6.5px;
	background-color: rgba(93, 114, 148, 0.35);
}

.head
{
	margin-top: 10px;
	background-color: rgba(93, 114, 148, 0.7);
	padding: 7px 0px;
	border-radius: 5px;
}

button
{
	margin-left: 50px;
	width: 120px;
	padding: 10px 5px;;
	background-color: #d1640a;
	font-size:17px;
	color: black;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

.icon-floppy
{
	margin-right: 10px;
}

.icon-cancel-circled
{
	margin-right: 10px;
}